@charset 'utf-8';

html {
  font-family: 'Gaegu', cursive;
  font-size: 12px;
}
body {
  overflow-x: hidden;
  color: black;
  background: #f3f2f0;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.logo-title {
  font-size: 2rem;
  text-align: center;
}
.btn {
  font-size: 2rem;
  padding: 0.8em 1.2em;
  border: 3px solid #204630;
  border-radius: 0.5em;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
}
.btn-guest {
  color: black;
}
.btn:focus {
  outline: none;
}
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #204630;
  top: 0;
  left: -100%;
  transition: all 0.4s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(100%);
}
.btn:hover {
  color: #f3f2f0;
}
header h1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 1rem 0;
  text-align: center;
}
.nav-categories {
  position: fixed;
  display: flex;
  top: 45px;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.nav-item {
  justify-content: space-around;
  margin: 0 auto;
}
table.board, table.diary {
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 0.5em;
  border-style: hidden;
  box-shadow: 0 0 0 1px white;
  background: white;
  top: 100px;
  width: 100%;
  margin: 1em 0;
}
.board thead td{
  padding: 1rem;
  padding-bottom: 0;
}
.board-date {
  text-align: right;
}
.board tbody td {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.board tfoot td {
  padding: 1rem;
  padding-right: 0;
}
.board tfoot span {
  padding: 0.5rem;
}
table.diary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.diary thead td{
  padding: 1rem;
  align-items: center;
}
.diary thead span {
  padding-left: 1rem;
}
.diary tbody {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
.diary tbody h3 {
  font-weight: 500;
}
.diary tbody td {
  padding: 0.3rem 0;
}
.diary tbody .content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
}